[2015-08-21 21:35] MightySCollins opened #3 "Speed up first query"
All first queries on page use inner joins when not necessary. eg $sql = "SELECT `id` FROM `vehicles`;";

[2015-08-21 22:49] MightySCollins opened #4 "RCON Kick"
RCON Kick and other features use name so will not work if player has a space in the name

[2015-08-24 10:21] cammygames opened #5 "New Search"
The New search functions need to be ported over to life db types from exile db types

[2015-09-01 23:30] Valtropalis opened #6 "Internal Server Error"
RewriteEngine On
RewriteBase /panel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /panel/index.php [L]

php_value file_get_contents 1

host is linux database has been made. but i cant get on the panel.

[2015-09-01 23:33] Valtropalis commented on #6
install url is www.thealtisproject.co.uk/panel

[2015-09-03 09:12] MightySCollins commented on #6
Hmm it seems to be able to get on it ![screenshot_24](https://cloud.githubusercontent.com/assets/8594759/9654672/34add658-5224-11e5-91ea-174346e2007c.png)

[2015-09-06 00:37] Valtropalis commented on #6
and when do we have exile support ?

[2015-09-06 10:40] MightySCollins commented on #6
Well we do have exile support but our topic on the website was locked and it seems we cannot get hold of the admin which did it. Its nearly been completed but we stopped as we realized if we could not post on the forums we could not easily give it to people and offer support.

[2015-09-09 21:12] MightySCollins opened #9 "Open Form Tag"
http://prntscr.com/8ej2kl

[2015-10-19 09:56] baua1310 opened #10 "500 Internal Server Error"
I have set up the Panel three times and everytime I get this error:

Internal Server Error

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator, [no address given] and inform them of the time the error occurred, and anything you might have done that may have caused the error.

More information about this err

[2015-10-25 09:43] MightySCollins commented on #10
Sorry for the delay in replying, I though I already had but it didn't send. Can I see your .htaccess file?

[2015-10-25 10:24] baua1310 commented on #10
No problem, here is my .htaccess file:

RewriteEngine On
RewriteBase /webpanel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /webpanel/index.php [L]

php_value file_get_contents 1

[2015-10-25 11:29] MightySCollins commented on #10
Hmm it all looks like it should, is it on a shared host?

[2015-10-25 12:24] baua1310 commented on #10
Yes it is on [NGZ](https://www.ngz-server.de/en/)

[2015-10-25 12:27] MightySCollins commented on #10
Hmm I am not really sure, can you send me the last few errors in the error log?

[2015-10-25 17:58] baua1310 commented on #10
No I'm sorry. I haven't access to the server logs but the support told me, it has something to do with 'php_value file_get_contents 1'. So I deleted it and now it works :)

[2015-10-25 18:00] MightySCollins commented on #10
Ok well thats great, I am not sure why it is not working for you. Any other problems open a issue ;)

[2015-10-25 18:00] #10 closed, assigned to MightySCollins

[2015-11-13 11:53] Gotteshand opened #11 "Change Mysql Port"
Hi All.

I I have a Big Problem.

My MySQL has a different port 3307. I am assuming that the installtion via the 3306 port goes. Where or how can I change that I get CyberWorks installed?

Many thanks

[2015-11-14 23:58] MightySCollins commented on #11
That should be no problem, you can try using `127.0.0.1:3307` in the IP feild and it should work it out

[2015-11-15 05:50] Gotteshand commented on #11
Hello. I now have the port specified during installation with and get this error:
Connect failed: Unknown MySQL server host '94.250.222.8:3307' (74)
This I have registered with SQL host.

Big Thx for Help

[2015-11-19 11:30] Gotteshand commented on #11
Hello. I have to be able to still do not perform the installation problem. Even if I enter the IP + 3307 I get an error message.

Connect failed: Unknown MySQL server host '94.250.222.8:3307' (74)
Would be great if someone could help me.

[2015-11-19 16:46] MightySCollins commented on #11
Ahh it seems we have overlooked something in the port support. Unfortunately I am currently working on Cyberworks 2 and have not looked at this code in a while, if you look in `firsttime.php` you should be able to temporarily hard code your details in. Sorry I cannot be of any more help but I will quickly look into it soon

[2015-12-09 06:38] DJTrb96 opened #12 "Staff Code Error"
Hello Guys,

I've gotten a SQL Error in staff? I guess it's an error. Heres a screenshot of it.

http://i.imgur.com/X9GLDTS.png

The Red colour is just over our emails,

I googled a some of the "error" code into google and found a pastebin with the exact same issue.

Can be found here: http://pastebin.com/WT54VJXu

Any idea on how to fix it? Cheers

[2015-12-09 08:03] MightySCollins commented on #12
Hey

Download the latest master or remove our var_dump from views/core/staff.php
it's near the top.

Sorry about that
Sam

[2015-12-09 08:12] DJTrb96 commented on #12
Hello Sam,

I removed the following

"ar_dump($_SESSION);
$max = ' LIMIT ' . ($pageNum - 1) \* $_SESSION['items'] . ',' . $_SESSION['items'];

if (isset($search)) {
    logAction($_SESSION['user_name'], $lang['searched'] . ' (' . $search . ') ' . $lang['in'] . ' ' . $lang['staff'], 3);

[code]

} else {
    $sql = "SELECT count(`user_id`) FROM `users`;";
    $total_records = $db_connection->query(

[2015-12-09 09:01] MightySCollins commented on #12
Hi,

No thats fine its was just line 2 which had the `var_dump` in. If you have already deleted it then just make sure it looks like this, https://raw.githubusercontent.com/Cyberbyte-Studios/CyberWorks/master/views/core/staff.php

Sam

[2015-12-09 09:42] DJTrb96 commented on #12
Hello Thank you very much Sam. This worked perfectly, i just had another question do you support modification / editing around a few things. I just wanted to play around with it as a personal project.

[2015-12-09 09:45] MightySCollins commented on #12
Yes that's fine just be sure to credit us ;)
Enjoy and good luck

[2015-12-09 09:45] #12 closed, assigned to nobody

[2015-12-17 18:03] shizotheone opened #13 "failed to open stream: HTTP request failed!"
Warning: file_get_contents(http://cyberbyte.org.uk/hooks/cyberworks/getid.php?url=http://localhost/supp/&name=Avanix%20Gaming&pid=): failed to open stream: HTTP request failed! in C:\xampp\htdocs\supp\views\firstTime.php on line 39

Fatal error: Maximum execution time of 30 seconds exceeded in C:\xampp\htdocs\supp\views\firstTime.php on line 39

[2015-12-17 21:00] MightySCollins commented on #13
We are actively fixing this issue

[2015-12-17 21:23] shizotheone commented on #13
Okay thanks

Von meinem iPhone gesendet

[2015-12-23 02:17] Mateeox commented on #13
I have same error msg :|
I can't wait patch :)

[2015-12-23 03:55] trdwll opened #14 "Cyberworks 2"
I'm curious when you're going to open source Cyberworks 2.

[2015-12-23 09:01] MightySCollins commented on #14
Hmm good question, we are not really sure...
Although we feel it would benefit many more communities as it is a much better panel it is also much harder to install and setup leaving it out of the question for smaller communities. We will consider it soon but we are currently just polishing off the last sections of it to make it a very stable release if we do it.

[2015-12-23 09:05] MightySCollins commented on #13
Ok so there have been too many emails for me to ignore, http://www.altisliferpg.com/topic/11209-php-tool-cyberworks-altis-life-admin-panel/?p=78654

[2015-12-23 09:11] MightySCollins commented on #13
Ok committed a simple fix can someone test it for me by pulling the latest master

[2015-12-24 07:20] trdwll commented on #14
Good to know.
Also, please tell me you're using OOP on the new version and I'd be down to assist in the development of it either after you release it or before.

[2015-12-24 09:22] MightySCollins commented on #14
Of course, it has been completely redone in Laravel and most of it seems to follow programming standards, I got sick of looking at the old messy code which was not even using PDO and converting it all and changing it was WAY to much work. Send me an email at theatrepro11@gmail.com.

[2015-12-24 09:22] #14 closed, assigned to nobody

[2015-12-24 12:12] Mateeox commented on #13
It works for me ;) Thank you!

[2015-12-24 12:20] Mateeox commented on #13
However now I get error when I'm trying to login:
Warning: file_get_contents(http://cyberbyte.org.uk/hooks/cyberworks/messages.php?id=1001): failed to open stream: HTTP request failed! in C:\xampp\htdocs\forum\panel\classes\login.php on line 107

Fatal error: Maximum execution time of 30 seconds exceeded in C:\xampp\htdocs\forum\panel\classes\login.php on line 107

[2015-12-24 21:17] cammygames commented on #13
Should be fixed now

[2015-12-24 21:17] #13 closed, assigned to nobody

[2015-12-27 15:17] Provokan opened #15 "Missing editwanted"
We miss for the 4.0 the wanted page :/

[2015-12-27 15:29] MightySCollins commented on #15
You are welcome to port it over ;)

[2015-12-27 15:34] Provokan commented on #15
LoL, then why are the cornerstones already been set for it? xD After all, in the editplayer.php button /editwanted.php deposited!

[2015-12-27 15:37] MightySCollins commented on #15
Because we have already written it... But I guess we did not include it due to a bug

[2015-12-27 23:06] Provokan commented on #15
give me the.php files i fill fixx the problem and send u the bag (:

[2016-01-08 11:52] ThoronadNg opened #18 "500 Internal Server Error"
Internal Server Error

The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator, [no address given] and inform them of the time the error occurred, and anything you might have done that may have caused the error.

More information about this error may be available in the server error log.
- PHP-5.4
  what else do

[2016-01-09 18:12] MightySCollins commented on #18
Would be nice if we could see the server log, any php errors?
Where this problem was and what you did to get it would help.
Also see http://php.net/supported-versions.php for details about PHP 5.4

[2016-01-10 16:56] ThoronadNg commented on #18
[Sun Jan 10 17:18:56 2016] [alert] [client 130.193.xx.xx] /var/www/web462/html/lastshelter/.htaccess: Invalid command 'php_value', perhaps misspelled or defined by a module not included in the server configuration
[Sun Jan 10 17:18:57 2016] [alert] [client 130.193.xx.xx] /var/www/web462/html/lastshelter/.htaccess: Invalid command 'php_value', perhaps misspelled or defined by a module not included

[2016-01-10 16:57] ThoronadNg commented on #18
Changed PHP version to 7.0 problem still present

[2016-01-11 09:15] MightySCollins commented on #18
Hi

Is this on your own server or shared hosting, all of these issues are most likely down to server configuration. If your .htaccess does not support setting PHP Values then you can remove them from the file and change them on your php.ini file. Also make sure you have the latest version from master not the release, we will be doing a new release soon.

We have not yet tried it out with PHP7, so

[2016-01-11 16:49] CrackH34D opened #19 "Error"
hey,

we always get the error:

Not Found

The requested URL /index was not found on this server.

after login

wot can we do?

[2016-01-11 21:45] Provokan commented on #19
Crackhead,

u need to write a htacces. on your webspace for working the webpage (:

[2016-01-11 22:23] MightySCollins commented on #19
@Provokan Yep, thanks for that, make sure our setup made it for you. If it did not you can try using

[code]

[2016-01-12 22:07] Provokan commented on #19
Crackhead, when u need help for the panel. And u are a German Player, u can add me on steam ounder twinhead130

[2016-01-13 22:32] Provokan opened #20 "#Kick function doesn work"
Hello Together,

the kick function, doesn work. He connect to the Server but dont kick one player

[2016-01-13 22:46] MightySCollins commented on #20
Hi,

Thanks for this at some point we need to rewrite the RCON class, just to confirm are you able to see players? Is there anything outputted to the JS console and what PHP version are you using?

Thanks for the bug report I will look into it soon.

[2016-01-13 22:48] Provokan commented on #20
I can see the Players, i can send one Globale Message and can use the Execute (alias loadScripts,MaxPing,say, #mission, addBan, ban, removeBan >

php 5.6

[2016-01-13 22:54] MightySCollins commented on #20
If you use chrome devtools and look at the network section do you see a request that is going to rcon_click? If you do can you give me the response

[2016-01-13 22:56] Provokan commented on #20
http://prntscr.com/9pseg4

[2016-01-13 22:57] Provokan commented on #20
I suspect that the kick button, the Lot number of the player can not find it and therefore not working

[2016-01-13 23:03] MightySCollins commented on #20
Hmm it needs to provide both the sid(Server ID) and the id(Player ID), and you just see if that code has been added to the buttons in the html?

[2016-01-14 02:22] Provokan commented on #20
Response
["0","_FOR SAFETY IP_","16","1455a1bce1ea8d88d66243ae54f4659b(OK)","[MoD]","Ole","Doom"],["1","FOR SAFETY IP_","15","0364d12e7b0cf1950abfb52686d1bb11(OK)","[ING]","Fettarme","Milch"],["2","FOR SAFETY IP_","16","b64dc85055f27e5eea0a0a95ed6881e8(OK)","[MoD]Disturbed","Doom"],["3","FOR SAFETY IP_","16","f5955b646ef62030d0dfd2a2cbea9a89(OK)","[MoD]","Taipan","Doom"],["7","FOR SAFETY IP_","16"

[2016-01-14 23:21] anndrox opened #21 "The requested URL /arma3server/index was not found on this server."
I put everything in my root directory and everything and still I cannot log in. I filled out all the information and it brings me here and then I put .php at the end and it gives me a login page. I log in and same thing... I'm confused!  http://playongaming.net/arma3server/index

[2016-01-15 09:05] MightySCollins commented on #21
Can we see your `.htaccess` file?
Also when  you say root do you mean http://playongaming.net/ or http://playongaming.net/arma3server/

[2016-01-15 09:06] #3 closed, assigned to MightySCollins

[2016-01-15 09:06] #5 closed, assigned to MightySCollins

[2016-01-15 09:06] #9 closed, assigned to nobody

[2016-01-15 09:07] #6 closed, assigned to MightySCollins

[2016-01-15 09:07] #11 closed, assigned to nobody

[2016-01-16 01:29] anndrox commented on #21
RewriteEngine On
RewriteBase /arma3server/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /arma3server/index.php [L]

php_value file_get_contents 1

also here is my php info http://playongaming.net/test.php

I unzipped in my dir and I also had to change chmod to give it write access, otherwise it would bring me to the setup page every time. Right now its playongaming.net/arma3server and when I

[2016-01-16 13:08] MightySCollins commented on #21
I assume this is a server you setup yourself so I think you missed a step. Almost all sites running Apache need mod_rewrite. Try running `sudo a2enmod rewrite` to enable the apache rewrite module so it can handle requests correctly on your server.

[2016-01-16 16:07] anndrox commented on #21
Okay. I reenabled it and restarted apache2 and I'm still getting same results.
Here are my apache2 syslogs
http://pastebin.com/pJ5Ybx8C

[2016-01-16 19:58] Thiritin commented on #21
I do have the same problem and i run it at a root directory you can try if you want: http://novacontrol.cf, now i try to reinstall it without a domain.

[2016-01-16 20:56] MitzelLP commented on #21
Do you use OVH and/or Cloudflare?

[2016-01-16 21:24] anndrox commented on #21
I have kimsufi as a provider which is owned by OVH

[2016-01-16 21:33] Thiritin commented on #21
I want to try something i think it may something with ovh. can i speak to you http://steamcommunity.com/id/Martin_Becker

I got it running and i think i know the problem.

Look at this http://37.187.243.250/arma/ try to login with any account and any password.

Edit: Tried to install it on a different Server in a different country. Still the same Error.
Could someone please send us their vhost for

[2016-01-16 21:38] anndrox commented on #21
I'm still getting same error with that page also. Sent request from c0ba7t on http://steamcommunity.com/id/anndrox/home/

[2016-01-17 11:19] MightySCollins commented on #21
It is not an OVH error but a server configuration error, Have you allowed overrides by a .htaccess file for the directory you are using also @anndrox I think I know your problem, the files are in the folder `Cyberworks` but the url is `arma3server` try renaming Cyberworks to be `arma3server` as our .htaccess generator has been confused.

[2016-01-17 13:06] anndrox commented on #21
I have installing/reinstalling it so that's why it's not there anymore. With each install I make sure the htaccess is pointing to the correct directory. I will try the htaccess overrides when I get home

[2016-01-26 09:22] MightySCollins commented on #21
Did you have any luck with this?

[2016-01-29 15:47] Provokan opened #22 "Notice: Trying to get property of non-object in"
i cant fixx the problem, u cant find the problem?!

Notice: Trying to get property of non-object in /var/customers/webs/ni434908_1/hawaii/views/life/vehicles.php on line 26  no License

http://pastebin.com/wDb9qtsp

[2016-02-18 08:41] CyberSecGuy opened #25 "I hate asking this ... but... 500 error."
Things I have done:

1) sudo a2enmod rewrite
2) .htaccess exists and is owned by apache; it is as follows.

[code]

[2016-02-18 08:59] MightySCollins commented on #25
Anything in the logs?

[2016-02-18 09:02] MightySCollins commented on #22
Hmm, sorry for late reply this slipped through my inbox.

It would see, that is due to our rubbish code if there is no successful query then there can be no row numbers! Try adding an if isset above and running the queries on the database to see if they work.

[2016-02-18 09:02] MightySCollins commented on #21
Is there any more to this or can I close it?

[2016-02-18 09:03] MightySCollins commented on #20
I remember now that we made sure this did not work just in case as we did not think it was very secure. We will see if we can get it working on CyberWorks 2

[2016-02-18 09:03] #20 closed, assigned to nobody

[2016-02-18 09:04] #4 closed, assigned to nobody

[2016-02-18 09:04] MightySCollins commented on #19
Is this fixed?

[2016-02-18 10:49] Provokan commented on #19
its works (: i host his panel on my webspace

[2016-02-18 10:50] Provokan commented on #25
Which Error u become on the display?

[2016-02-18 10:50] Provokan commented on #22
its working, i fixxing the problem, all come with the next big push from me

[2016-02-18 10:50] Provokan commented on #21
u can close it (:

[2016-02-18 11:46] MightySCollins commented on #25
Also when you say apache what OS are you running on? Because if I remember correctly it should be `www-data` for debian. Also be sure to allow overrides in the vHosts file

[2016-02-18 13:39] MightySCollins commented on #22
Ok nice ;)

[2016-02-18 13:39] #22 closed, assigned to nobody

[2016-02-18 13:39] #21 closed, assigned to nobody

[2016-02-18 17:04] CyberSecGuy commented on #25
Even with editing: /etc/php5/apache2/php.ini, i'm not getting any error's to display, nor in the logs.
- Ubuntu 15.10
- PHP 5.6.11-1ubuntu3.1 (cli)
- Server version: Apache/2.4.12 (Ubuntu)

and yes, everything is www-data:www-data

[2016-02-18 17:23] Provokan commented on #25
please, give me the url to your homepage (:

[2016-02-18 20:52] CyberSecGuy commented on #25
Issue resolved - I don't know specifically what fixed it, I switched from Ubuntu 15.04 to Debian 8, and now it works.

[2016-02-18 20:53] #25 closed, assigned to nobody

[2016-02-18 22:15] CyberSecGuy opened #26 "Server Query - No connection?"
I'm running my webserver on localhost, as well as my arma 3 server on localhost.

Using EPM Rcon Tool I'm able to RCON into my server via external ip, network ip, and localhost on 2302 using the password, however when I attempt to add my server to the CyberWorks panel, and I specify the exact same settings, it continues to refresh every 30 seconds, and doesn't show any players. Additionally it's n

[2016-02-19 08:28] MightySCollins commented on #26
What version of PHP are you using? This feature seems to only work on certain environments.

[2016-02-19 22:33] CyberSecGuy commented on #26
arma3server@stream-MS-7576:~$ php -v
PHP 5.6.17-0+deb8u1 (cli) (built: Jan 13 2016 09:10:12)

[2016-02-28 23:20] HyunsukBaek opened #27 "issue: search is not work"
in players tab(or page), search method is not working.
and, how to ban player? ?

[2016-02-29 17:04] MightySCollins commented on #27
Hi, Do you have any more details?
What's is the problem with it and is it giving you any errors?
Also banning by button was removed, you can type in the command manually into the RCON box and run it.

[2016-02-29 17:04] MightySCollins commented on #26
Sorry for the delay, are there any errors in the logs?

[2016-02-29 21:42] CyberSecGuy commented on #26
I'm no longer involved in that project, so, I don't know what /my/ issue was, but it wouldn't connect via localhost/127.0.0.1  but it **DID** connect externally to an external server.

[2016-02-29 22:04] MightySCollins commented on #26
Hmm, ok well thanks for saying RCON is held together with duck tape so often fails

[2016-02-29 22:04] #26 closed, assigned to nobody

[2016-03-03 12:17] andrew77768 opened #28 "Refers me to a non existing page."
I've tried emailing Cammy but I'm suffering with problems from my Email Provider so my best bet is to ask here.

I think I have made an error while installing this but when I am attempting to install this using the installer ( /AL/Index.php ) it will then refer me to a non existing page ( /AL/index?setup=1 ).

This is the error I'm presented with:
 "Object not found! The requested URL was not foun

[2016-03-04 22:59] MightySCollins commented on #28
Try using `/AL/index.php` with a lowercase URL I think setup is case sensitive

[2016-03-05 13:51] andrew77768 commented on #28
That didn't work so I found a tutorial to install a different one and used it for this and it worked.
The guy changed his .HTAccess to this:

<Files />
RewriteEngineOn
RewriteBase /AL/
RewriteCond %{REQUEST_FILENAME}!-f
RewriteRule . /AL/index.php
php_value file_get_contents 1
</Files>

and it worked for me too.

Thanks <3

[2016-03-05 13:51] #28 closed, assigned to nobody

[2016-03-05 23:42] HyunsukBaek commented on #27
@MightySCollins   search is correctly working, my mistake is - put search keyword in textfield and then i push enter key,  not search button.

it's not an issue. close plz.
ps : when user put enter key in search text field, id like to go run search method

[2016-03-06 00:24] MightySCollins commented on #27
hmm I though it did submit on enter, ohh well

[2016-03-06 00:24] #27 closed, assigned to nobody

[2016-03-06 11:00] StealthyGazer commented on #19
@Provokan Hey man - I am getting the same error. Any help would be appreciated <3

[2016-03-06 11:03] StealthyGazer commented on #19
@MightySCollins

[2016-03-06 16:30] MightySCollins commented on #19
@DarkSilencerZA This is a user install error, please ensure that the .htaccess is correctly generated you are on an Apache server and mod_rewrite is on. If this is all true then please tell me the url of the install. if you would prefer you can send me a PM on the forums with it

[2016-03-06 18:55] StealthyGazer commented on #19
@MightySCollins Hi there! Thanks for your response. Are you able to send me the correct .htaccess for your build? I will update accordingly and change the file paths.

[2016-03-07 07:22] MightySCollins commented on #19
It should auto generate one, to make one manually I will need to know the
install url.

[2016-03-15 14:32] MightySCollins commented on #28
Any chance you can post a link, it might help others ;)

[2016-03-18 09:49] Felix2 commented on #19
I got a interna server error after install so i removed this line:

php_value file_get_contents 1

Now it works for me.

[2016-03-18 09:51] Felix2 commented on #18
I got the same error at first. Try remove this line from the htaccess

php_value file_get_contents 1

If that dont do it u need to make sure u have the correct permission set. 755

[2016-03-18 09:54] Felix2 opened #29 "Removing 2 factor authentication"
I have tried to remove it after accidently enabling it but when pressing the revoke button it forces you to do it again.

Also it seems having 2factor enabled makes the mobile version useless since its not possible to enter the code or view any page.

Which file do i edit to disable it?

[2016-03-18 09:57] Felix2 commented on #29
I have tried to remove it after accidently enabling it but when pressinformatör the revoke button it forces you to do it again.

Also it seems having 2factor enabled makes the mobile version useless since its not possible to enter the code or view any page.

[2016-03-18 10:05] Felix2 commented on #29
Which file do i edit to disable it?

[2016-03-18 12:12] MightySCollins commented on #29
Have you setup 2 Factor with your phone and can you login?

[2016-03-18 12:27] Felix2 commented on #29
Yes. But once the 2 factor has been turned on in the settings its not possible to turn it off.

[2016-03-18 13:21] MightySCollins commented on #29
And does the option in settings not work?

[2016-03-18 13:25] Felix2 commented on #29
No, It's not possible to turn it off from there.

[2016-03-18 13:44] Felix2 opened #30 "Logging how much money has been added"
I'm trying to see how much money has been added from a moderator to a player in the logs but all I can see is: "Edited User(76561111111111111) Levels"

Is it possible to see how much money has been added?

It would be very nice if it displayed a detailed log like this:
"Edited User(76561111111111111) Bank 50.000 --> 100.000"
or
"Edited User(76561111111111111) Cash 50.000 --> 100.000"

[2016-03-18 14:07] MightySCollins commented on #29
Does the option not work? https://github.com/Cyberbyte-Studios/CyberWorks/blob/master/views/core/settings.php#L169

If not its the 2factor option in the settings DB I think

[2016-03-18 14:24] Felix2 commented on #29
Look at this detailed image:
http://i.imgur.com/sFmytih.png

Also, what part do I edit in the DB?

[2016-03-18 14:55] Felix2 commented on #30
In my opinion this is the only thing missing for this cool control panel.

Knowing how much Cash / Bank money has been added is very important to know.

[2016-03-19 16:24] cammygames commented on #30
like this http://puu.sh/nMfk8/2ef26c0564.png

[2016-03-19 16:56] Felix2 commented on #30
Exactly like that! :)

[2016-03-19 18:16] MightySCollins commented on #29
Although this has been fixed in the next update by @cammygames you can change `2factor` to false in `/config/settings.php` not in the DB sorry.

[2016-03-20 08:48] Thiritin commented on #29
Hmm if this dosent work you can remove the 2factor php file :-).

Waiting for the next Update :-)

[2016-03-20 08:55] Thiritin opened #31 "Working on German translation"
Hi,

Im currently working on a German Translation and had a quick question about it.

Does it support "ä,ö,ü" ? If not it would look very weird.

Thanks :-)

[2016-03-20 08:56] Thiritin commented on #18
@Felix2 Yeah i did this too, after looking in the Error logs.

[2016-03-20 09:24] cammygames commented on #30
it was there all along it just wasn't working apparently. it will be fixed and pushed out by the end of today

[2016-03-20 09:31] cammygames commented on #29
2Factor is disabled in the next update

[2016-03-23 22:02] Felix2 commented on #30
When is the update coming ?

[2016-03-24 23:11] marrold opened #33 "Please update installation instructions"
The instructions are a little vague. To get this working on Ubuntu I had to do the following -

install php5-mysql php5-mcrypt
sudo php5enmod mcrypt

Additionally on the dashboard I get the error-

Notice: Undefined variable: verify in /var/www/html/classes/login.php on line 124

Thanks

[2016-03-25 09:53] cammygames commented on #30
Sorry we have been working on a support system for cyberworks. ill try to have it out by this evening

[2016-03-25 10:50] Felix2 commented on #30
Alright, cool!

[2016-03-25 23:02] MightySCollins commented on #33
I'll be honest we do expect all users to have a basic Apache setup, there are a few common modules which are required by almost all PHP projects, another one you might need is `mod_rewrite`. Ill try and add it somewhere soon.

[2016-03-25 23:06] MightySCollins commented on #31
Good question, it kind of depends on your server setup but I will do some testing and confirm it

[2016-03-25 23:20] MightySCollins commented on #30
f7aa577caec8470007c11bd623bd0fad33f10cb3 just went out with the changes in, please tell me if it all works :smile:

[2016-03-25 23:20] #30 closed, assigned to cammygames

[2016-03-25 23:31] #33 closed, assigned to MightySCollins

[2016-03-25 23:31] MightySCollins commented on #29
This has now been fully removed in f7aa577caec8470007c11bd623bd0fad33f10cb3

[2016-03-25 23:31] #29 closed, assigned to cammygames

[2016-03-26 15:33] cammygames opened #34 "Support"
https://discordapp.com/invite/0jFDY3VsGIwh0PUs

[2016-03-26 17:25] #34 closed, assigned to nobody

[2016-04-01 19:07] #31 closed, assigned to nobody

[2016-04-21 16:52] philizz commented on #19
Same problem.
I´m running on windows server 2012.
Can you please help me?

[2016-04-22 07:56] MightySCollins commented on #19
@philizz Hi,
Are you running ISS? Also can we do this in a new issue this should be closed.

[2016-04-22 07:56] #19 closed, assigned to nobody

[2016-04-22 07:59] #18 closed, assigned to nobody

[2016-04-24 13:33] ZeroGood opened #38 "Login issue"
Hello there !

I have some problems to login.. when i try i have a error 404 "URL not found"

here my HTaccess :

RewriteEngine On
RewriteBase /admin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /admin/index.php [L]
php_value file_get_contents 1

Thanks a lot for your help !
Regards,

[2016-04-24 13:57] ZeroGood commented on #38
problem resolved in apache2.conf :)

[2016-04-24 18:35] MightySCollins commented on #38
What did you do to fix it?

[2016-04-30 07:15] Thiritin commented on #38
I have the same problem, it works on my webhoster but not at my personal, please share the fix to the others, would be awesome.

[2016-04-30 17:13] ZeroGood commented on #38
Hello !
Try to put this on your apache2.conf (don't forget to change the path of your webpanel) :

[code]

my .htaccess

[code]

and restart apache ;)
+

[2016-04-30 20:26] Thiritin commented on #38
Thank you I will try it. :-)

[2016-05-05 09:00] #38 closed, assigned to nobody

[2016-05-05 09:03] ZeroGood opened #39 "Translate to french"
Hello there !
I want made the translation in french for a community and share it here.

But i need some help to locate every files to do it. Can you help me ? :)

+

[2016-05-08 14:27] MightySCollins commented on #39
Hey sorry for the delay, just fork this file https://github.com/Cyberbyte-Studios/CyberWorks/blob/master/config/english.php and add in french and I can sort the rest.

[2016-05-08 16:41] ZeroGood commented on #39
done ;)
I will improve this version when i can see the result on a active page !

[2016-05-12 16:13] normanaluk opened #40 "Account"
Hey I have a problem with cyberworks

I set it up on my dedicated web server but it doesn't work, the circle just spins around and the page times out. (http://blackshadow.co.uk/arma)

I tried it on http://inviz.io and it worked made me an account but I don't know where to login?

Please help

[2016-05-12 22:26] MightySCollins commented on #40
Hi

Sorry for the delay, we are slowly rolling out a new support ticket system on our new website. If you can make a ticket https://cyberbyte.org.uk/support/ in the Cyberworks category we should get back to you quickly.

Thanks
Sam

[2016-05-14 20:53] Felix2 opened #41 "4.4 Support for the players table"
It doesn't seem to work on Altis Life 4.4r2. I have tested 4 different versions of cyberworks and none of them I was able to edit Bank, Cash, Coplevel, Adminlevel, Mediclevel.

The other functions seemed to work though.

Does this have something to do with that the database structure has been changed for the players table?

[2016-05-14 21:11] BoGuu commented on #41
I'll look into changing the DB structure to match the new columns

[2016-05-14 21:12] Felix2 commented on #41
Cheers :)

[2016-05-15 14:51] niconowy opened #43 "HTTP Error 500"
Hello.

Always i get the Error: HTTP Error 500.
How can i fix it?

Error Log:
[Sun May 15 16:41:00 2016] [info] Loading certificate & private key of SSL-aware server
[Sun May 15 16:41:00 2016] [debug] ssl_engine_pphrase.c(470): unencrypted RSA private key - pass phrase not required
[Sun May 15 16:41:00 2016] [info] Configuring server for SSL protocol
[Sun May 15 16:41:00 2016] [debug] ssl_engine_i

[2016-05-15 15:59] #40 closed, assigned to nobody

[2016-05-15 15:59] MightySCollins commented on #43
Hi

Sorry for the delay, we are slowly rolling out a new support ticket system on our new website. If you can make a ticket https://cyberbyte.org.uk/support/ in the Cyberworks category we should get back to you quickly.

Thanks
Sam

[2016-05-15 15:59] #43 closed, assigned to nobody

[2016-05-16 01:19] NickITGuy opened #44 "MySQL port"
How do I make sure that the panel is trying to connect to a certain port because my server is running on 3307 not the default port.

[2016-05-16 11:50] Felix2 commented on #41
@BoGuu Thank you, it's working now again :)

[2016-05-16 19:34] MightySCollins commented on #44
Hi

Sorry for the delay, we are slowly rolling out a new support ticket system on our new website. If you can make a ticket https://cyberbyte.org.uk/support/ in the Cyberworks category we should get back to you quickly.

Thanks
Sam

[2016-05-19 18:57] #41 closed, assigned to nobody

[2016-06-26 10:12] berkaslan opened #46 "Login session problem"
Hi,

When I loged on Dashboard after any clicks, thats kicking me logout.
I see only on Dashboard new players how many vehicles etc.

Any Idea?

[2016-06-27 10:18] numpty9989 opened #47 "database"
im getting http://prntscr.com/blm1fd  when creating a new user all filled in correctly and db is working as it can make changes to players instantly

[2016-07-03 16:52] StealthyGazer opened #48 "Server Query / RCon Port"
As of a recent update, RCon ports need to be defined. This means that you can no longer use the Server OR Server Query port for RCon connections. An extra option needs to be added to allow defining of both.

[2016-07-04 21:40] StealthyGazer opened #52 "View Permissions Only [Bug]"
If you give a person view permissions only - the pencil changes to an eye (which makes perfect sense), however when you click on the eye, it gives the insufficient permissions screen. This is because it still links to editing instead of viewing.

[2016-08-11 17:48] vbrandl opened #53 "Fix table names in update query for players"
In `/views/life/editPlayer.php` when updating a players data, you refer to the donator level column by `donorlevel` but it is called `donatorlvl` in the database.
This way you cannot save the changes, because the update query fails.
To fix this, you need to change lines 73 and 97 in `/views/life/editPlayer.php` and replace `donorlevel` in the query by `donatorlvl`.

[2016-08-11 17:57] vbrandl opened #54 "Use prepared statements instead of dynamic queries"
I saw you are not using prepared statements in CyberWorks. I didn't audit the code and from what I see, you are escaping the userinput, but it could be, that you forgot it somewhere.
Also prepared statements perform faster than normal SQL queries.

[2016-08-16 17:32] MightySCollins commented on #53
We welcome any pull requests, this issue is because the Altis Life Framework updates and we do not have the time to keep up with changes.

[2016-08-16 17:32] MightySCollins commented on #54
We are aware of the improvements of prepared statements and are aware that this code is not very good. We have tried rewriting it all multiple times...

[2016-08-21 12:36] vbrandl commented on #53
done
https://github.com/Cyberbyte-Studios/CyberWorks/pull/55

[2016-08-21 12:36] #53 closed, assigned to nobody

[2016-08-22 00:34] BoGuu commented on #52
Need some more information/pictures etc to understand

https://i.gyazo.com/0305a5cb87a10a9bc514ae941f8eedeb.png

[2016-08-22 00:40] BoGuu commented on #48
https://i.gyazo.com/0cb411204a3912a3d8304ce0122b55b1.png

https://i.gyazo.com/eaa1dc8a6bc8d7ba2a967ca808c7aee3.png

[2016-08-22 00:41] BoGuu commented on #47
It's been months, closing. Please re post if you still experience any problems.

[2016-08-22 00:41] #47 closed, assigned to nobody

[2016-08-22 00:41] BoGuu commented on #46
It's been months, closing. Please re post if you still experience any problems.

[2016-08-22 00:41] #46 closed, assigned to nobody

[2016-08-22 00:42] BoGuu commented on #44
It's been months, closing. Please re post if you still experience any problems.

[2016-08-22 00:42] #44 closed, assigned to nobody

[2016-08-22 00:42] BoGuu commented on #39
Any news?

[2016-08-22 00:42] #15 closed, assigned to nobody

[2016-08-22 12:39] MightySCollins commented on #54
As an update to this the branch OOP https://github.com/Cyberbyte-Studios/CyberWorks/tree/oop was the start of it...

[2016-08-22 14:40] BoGuu commented on #48
AFAIK only the RCon port is used, so if you put your RCon port into the server query port, it'll work regardless. Could be wrong though. If this is the case we can change the text to make it more explicit

[2016-08-28 18:22] ghost opened #58 "Install"
I cant install it ...

[2016-08-28 20:01] BoGuu commented on #58
Well good chat.

Maybe including just a little more information would help us psychics.

[2016-08-30 10:40] ghost commented on #58
I have install it but when i log in me

Not Found

The requested URL /ugc/webpanel/index was not found on this server.

[2016-09-01 14:14] ghost commented on #58
I have now installed the web interface, but an error I get

Not Found

The requested URL / ugc / WEBpanel / index was not found on this server.

when I try to login.
I use the latest version of Apache2.
The Web Interface running on a Linux server with enough memory.
I've tried it with a .htaccess but that did not work.

greetings

[2016-09-05 15:40] StealthyGazer opened #59 "[Suggestion] Separate Admin / Donator Editing"
No idea why this was placed together - laziness? Meh anyways, it needs to be separate.

[2016-09-08 10:24] MightySCollins commented on #59
Is Donator actually used?

[2016-09-08 10:24] MightySCollins commented on #58
Is mod rewrite enabled?

[2016-09-12 18:49] xProlithium opened #61 "Database Write Issue?"
I've tried to fix it on my own but with no positive results. Whenever I try to edit something like a person's cop or civ level it doesn't take and stays the same. After looking through the database itself, it doesn't even show CyberWorks having an active connection with the database.

[2016-09-15 21:04] danir-de commented on #58
Yes, but there's no .htaccess file included, to control it. Can you include it?

[2016-09-22 02:33] xProlithium commented on #61
Until this issue is seen an addressed I've had to revert to the LifeControl 2.0

[2016-09-22 08:07] cammygames commented on #61
Are you using the latest version from git, as this was patched a while ago via a pull request.

[2016-09-22 21:36] xProlithium commented on #61
Is it the pull #42 that should be added to it? I'll give it a try.

Even after making the changes noted in pull #60 it still doesn't change information though the web panel.

[2016-09-23 09:53] cammygames commented on #61
What life version are you using? 4.x or 3.x?

[2016-09-23 11:24] xProlithium commented on #61
I was using CyberWorks 0.5, and it was reading information from the DB but not editing or writing to it. However the LifeControl 2.0 works fine using the same user.

[2016-09-23 18:24] cammygames commented on #61
What Altis life version are you using though?

[2016-09-23 22:57] xProlithium commented on #61
Our Altis Life version is 3.1.4.8.

[2016-09-26 09:20] MightySCollins commented on #61
Ahh yes, it is possible some of our changes to accommodate the newer versions have broken compatibility. I will close this as we are no longer supporting older versions but thank you for reporting it.

[2016-09-26 09:20] #61 closed, assigned to nobody

[2016-10-11 14:35] matze3331 opened #62 "Password reset"
Hey Guys,

first, great project you are working on! But, a user of mine installation requested to reset his password.
how do i do that? If i activate the password reset function, i get the warning...

What should I do?

[2016-10-11 18:55] BoGuu commented on #62
Profile page?

[2016-10-12 14:36] matze3331 commented on #62
I want to reset HIS password not mine.

[2016-10-12 20:31] MightySCollins commented on #62
Delete and remake the account...

I think we turned this off sorry

[2016-10-12 22:00] Felix2 opened #63 "Pagination missing & Not possible to add or remove licenses"
I'm using CyberWorks v0.5.

There used to be a pagination system in the older version but for some reason it has been removed so it's only possible to view the latest 50 actions. The rest I need to login to my DB to view.
http://domain.com/logs

Also since the 1.64 update the database format has been messed up so it's no longer possible to add or remove licenses using the control panel.

[2016-10-14 15:08] matze3331 commented on #62
Okay, thanks.

[2016-10-14 15:08] #62 closed, assigned to nobody

[2016-10-16 09:34] matze3331 opened #64 "Opfor fraction"
Hello,

in our Gameserver we have the fourth fraction Opfor. I want to add a whitelisting point like the one for Cops and Medics.

Is it allowed to add the fraction for myself and commit into the branch or do it for myself into my server version?

greetz

[2016-10-21 07:02] MightySCollins commented on #64
What would be really great is if you make a fork and a new branch and make a pull request. Then people can have OpFor if they want.

Thanks 😄

[2016-10-21 08:08] MightySCollins commented on #63
Any chance you can send an up to date version of the database to me directly to sam@scollins.co?

[2016-11-09 00:14] llMysterioll opened #65 "Altis Life 4.4r Issue"
I set the panel up with the exact info used when running extdb 2 and it still doesn't work. The web panel worked fine with me before. The odd part it shows the newest and richest players but when you attempt to view players nothing can be found.
![Player Not Found](https://i.gyazo.com/90e877e812b1a7cecef215270d1c18eb.png)
![Dashboard](https://i.gyazo.com/e6449f4d16d7637164955d6e8f2dc0f1.png)

[2016-11-09 15:13] BoGuu commented on #65
Could you confirm your version?

[2016-11-10 03:02] llMysterioll commented on #65
.5 If your talking about the CyberByte version.

[2016-11-10 03:04] llMysterioll commented on #65
Also just confirmed it works with Extdb 1, I used the same info just changed the database. But problem is im using Extdb 2

[2016-11-10 16:29] Jason2605 commented on #65
The extDB version would have no influence on the panel, please check your AltisLife version when you are receiving errors.

[2016-11-10 18:57] llMysterioll commented on #65
Altis Life version is 4.4r4

[2016-11-10 20:07] MightySCollins commented on #65
If you uncomment the [third line](https://github.com/Cyberbyte-Studios/CyberWorks/blob/master/index.php#L3) in `index.php` you should see errors displayed. Can paste the error?

[2016-11-10 21:00] llMysterioll commented on #65
Notice: Trying to get property of non-object in C:\xampp\htdocs\CyberWorks-master\views\life\players.php on line 22
There is the error displaying on the players page.

[2016-11-10 21:05] llMysterioll commented on #65
weirdly it shows the top ten players  on the dashboard with how much money the have.

[2016-11-12 01:16] deanm1990 opened #66 "Variable"
Hi

How would i change variables

My database isnt quite as standard as the simple Altis Life, and my medic levels etc have different varialbe names. therefor when i update the levels via the panel, it doesnt actually update it on the database.

please advise

[2016-11-12 01:45] BoGuu commented on #66
https://github.com/Cyberbyte-Studios/CyberWorks/search?utf8=✓&q=mediclevel&type=Code

[2016-11-12 01:46] BoGuu commented on #65
Could you post a snapshot of your players table? Also, verify in the settings you're using 4.4R2+

[2016-11-12 02:37] llMysterioll commented on #65
![PlayerTab](https://i.gyazo.com/6d29979dfefdd0b807e7dc51367a6def.png)
![Settings](https://i.gyazo.com/83e9e5e201cb9c62d552778131361a06.png)

[2016-11-12 19:55] deanm1990 commented on #66
Thankyou for the quick response, changed it all- however, i see the panel working fine. The only thing i can still change is just licenses . I can't edit medic levels or cop levels. It has no effect on the actual DB - any advice ?

[2016-11-14 17:50] ghost commented on #65
Also having this issue with CyberWorks on 4.4r4

[2016-11-14 18:09] BoGuu commented on #65
@llMysterioll

Your database table

[2016-11-14 18:16] ghost commented on #65
@BoGuu here is mine on 4.4r4 if it matters, same error as him. http://i.imgur.com/qKM5WFG.png

[2016-11-14 18:19] ghost commented on #65
here is the exported table (if that's what you meant) http://www.filedropper.com/showdownload.php/players_4

[2016-11-14 18:43] ghost commented on #65
Fixes players tab being broken in Altis Life 4.4r3 +

The database players table is no longer playerid but instead pid. I replaced all counts of this.

So replace playerid with pid.

pastebin: http://pastebin.com/Gv2JGYi4

[2016-11-14 18:47] llMysterioll commented on #65
@jrm100 It worked ,thanks :) !

[2016-11-14 18:55] ghost commented on #65
@llMysterioll np, if you want to fix the error in gang tab do the same in adminpanel/gfunctions.php - idk how to fix houses though.

[2016-11-14 19:00] ghost commented on #65
@llMysterioll heres a fixed dashboard.php
http://pastebin.com/JpcPRXTR

[2016-11-14 20:43] llMysterioll commented on #65
@jrm100 Yeah i've been going through the other things and fixing the different pages.

[2016-11-15 17:23] BoGuu commented on #66
Mission version?

[2016-11-15 17:25] BoGuu commented on #65
The reason why the panel isn't working for you, is because you're not using 4.4R4 (or before), you're using the dev build, which is not yet supported. Even if we added changes for it, I could change any of the DB structure at any point in time still. Closed for now

[2016-11-15 17:25] #65 closed, assigned to nobody

[2016-11-15 17:28] #39 closed, assigned to nobody

[2016-11-15 17:28] #48 closed, assigned to nobody

[2016-11-15 17:29] #54 closed, assigned to nobody

[2016-11-15 18:11] Jason2605 commented on #52
No activity for months.

[2016-11-15 18:11] #52 closed, assigned to nobody

[2016-11-15 18:11] Jason2605 commented on #58
No activity for months.

[2016-11-15 18:11] #58 closed, assigned to nobody

[2016-11-15 18:11] Jason2605 commented on #59
No activity for months.

[2016-11-15 18:11] #59 closed, assigned to nobody

[2016-11-15 18:11] Jason2605 commented on #63
No activity for nearly a month.

[2016-11-15 18:11] #63 closed, assigned to nobody

[2016-11-15 18:11] Jason2605 commented on #64
No activity for nearly a month.

[2016-11-15 18:11] #64 closed, assigned to nobody

[2016-11-30 22:59] AsboniaTV opened #69 "Edit databases don't work"
After opening "Edit Databases", and click edit on which one I want to edit, the page opens BLANK

![](https://i.gyazo.com/a44f605e2897305999ec0cb9f2ff318f.png)

[2016-11-30 22:59] AsboniaTV commented on #69
also players don't show up in 'game servers'

[2016-11-30 23:03] MightySCollins commented on #69
What Altis Life version are you using? Also if you uncomment the third line in index.php are there any errors?

[2016-11-30 23:06] AsboniaTV commented on #69
To be honest, I don't know. Its an A3L - My old community ran you guys with it with no errors.
- Warning: mysqli_fetch_assoc() expects parameter 1 to be mysqli_result, boolean given in C:\xampp\htdocs\a3lpanel\views\life\dashboard.php on line 193 -

[2016-11-30 23:09] MightySCollins commented on #69
Try switching the altis version setting to be an older version. We recently made breaking changes to support the latest framework.

[2016-11-30 23:12] AsboniaTV commented on #69
Changed to 3.x.x.x
Error message is gone.
Tho neither player list nor editserver work?

[2016-12-03 11:04] MightySCollins commented on #69
@Jason2605 You had a chance to look into this at all?

[2016-12-04 19:00] Jason2605 commented on #69
@MightySCollins Ive been away, sorry about that.

[2016-12-04 19:02] Jason2605 commented on #69
@jdhk94, Can you please find out what version of framework you are running off, or post a screenshot of your players database table.

[2016-12-04 19:03] AsboniaTV commented on #69
Which framework?

[2016-12-04 19:03] Jason2605 commented on #69
Well, I'm guessing the A3L mission you are running is based of Tonics framework, so can you find out the version its using

[2016-12-04 19:05] AsboniaTV commented on #69
3.x.x.x.x
https://gyazo.com/2989a298316c0ef82f76738f83afaeae

[2016-12-04 19:08] Jason2605 commented on #69
So upon switching the version to an older version, and the error uncommented, you are still receiving no errors, however still not working?

[2016-12-04 19:09] AsboniaTV commented on #69
I dont see any errors no. Though I cant see any ingame players nor do I have the ability to delete a server I added on it.

[2016-12-04 19:15] Jason2605 commented on #69
Are any of the other pages working as they should?

[2016-12-04 19:31] AsboniaTV commented on #69
Players & Vehicles & Houses are working fine

[2016-12-05 18:26] eLHavanna opened #70 "Player, Vehice, House Overview didn't work!"
Hey Cyberbyte Studios/Community,

In the Picture your see the Problem:
![ss](https://cloud.githubusercontent.com/assets/24394832/20897036/acc609f6-bb20-11e6-96d7-2791d174c365.PNG)

We are using the Arma 3 Altis Version: 4.5

[2016-12-09 12:02] schasching commented on #70
I have the same problem.

[2016-12-09 13:32] MightySCollins commented on #70
@eLHavanna any chance you can send an email to support@cyberbyte.org.uk with a small sample of your database?

[2016-12-09 19:08] eLHavanna commented on #70
Okay "Players" is Working, but not Vehicle and Houses! And the Player Search Funktion is not Working!

[2016-12-09 19:12] schasching commented on #70
Yes me too.
^^

[2016-12-09 19:24] MightySCollins commented on #70
I can look into fixing it but I will need some sample of data to dev against. I do not have a copy of any schema for the newer versions of Altis Life. If someone can email me some that would be great.

[2016-12-09 19:26] eLHavanna commented on #70
What Datas your need? May i can send it you!

[2016-12-09 19:29] MightySCollins commented on #70
Send an email to support@cyberbyte.org.uk with a MySQLDump of a database. If you want you can remove any personal data and change names etc, as long as its something I can insert into a database to use CyberWorks.

[2016-12-09 19:33] eLHavanna commented on #70
Okay in ca. 10min i send it to the email!

[2016-12-09 19:43] eLHavanna commented on #70
Email is out! I hope your find something! Thanks a lot for your help.

[2016-12-11 13:10] MightySCollins commented on #70
This might have been fixed in d017181d0a57b54d5824982111a91a9d4bd73d34

[2016-12-11 13:12] MightySCollins commented on #69
I cannot seem to replicate this issue. Can you send me an email at support@cyberbyte.org.uk with a small sample of data from your database so I can investigate further.

[2016-12-11 13:13] MightySCollins commented on #66
Chances are you have made a small mistake when editing the queries. Can you send me a small sample of your data to support@cyberbyte.org.uk and the version which you have edited so I can look into it further.

[2016-12-12 14:36] eLHavanna commented on #70
Yeah is fixed! Much Thanks to Cyberbyte!

[2016-12-14 23:25] MightySCollins opened #72 "Moderator can not set money or licenses"
Reported by @schasching

[2016-12-17 15:57] schasching commented on #72
I have the problem that moderator can not set the money or licenses

[2016-12-25 01:35] schasching opened #73 "View in Players --> Vehicle"
If a player has more Vehicle i dont can show all vehicle what he has.
If i press more i always get No Vehicle.

[2016-12-26 10:02] ghost opened #74 "403 no permission while installation"
The PHP modules already active.

While Installation - first step - after click on setup he throw me on the index.php and give out a 403 permission error.

[2016-12-26 11:03] schasching commented on #74
can jo open the install website?

[2016-12-26 11:06] schasching commented on #74
I think the problem is the user in the database.
Jo have to set that the user can open also when he not is in the local network

[2016-12-28 05:58] stjeebee opened #75 "Connect failed: Host 'ip' is not allowed to connect to this MariaDB server"
Hello,

Whenever I attempt to finish the installation of Cyberworks I always get: 'Connect failed: Host 'ip' is not allowed to connect to this MariaDB server' when pressing setup. All the setup information I gave was correct, but I'm still getting the error. Anyone know where I should begin? Thanks.

[2016-12-28 11:39] schasching commented on #75
make a neu user in the database --> name:support host:the ip from the server password: your pw --> use this user and it works :-D

[2016-12-28 11:41] MightySCollins commented on #74
What are the permissions on the files? The Apache user will need access.

[2016-12-28 11:42] MightySCollins commented on #73
You can try searching in the vehicles page. But it should show them on the more button...

[2016-12-29 04:52] stjeebee opened #76 "Players,Houses,Cars, etc. showing cannot be found - Checked other issues for fixes, didn't work"
Hello once again, lol.

So I had an issue and it was fixed by these wonderful people. But, now I'm getting a 'player cannot be found' and equivalent across the players, houses, and cars. I saw the fix given before but I checked and what they suggested is actually changed in the files I have. We use AltisLife 3.4.8 (ancient, right?) and I'm unsure how to move forward.

Thanks,

Nick

[2016-12-29 10:17] MightySCollins commented on #75
How is your database setup? It sounds like you have not allowed the database to be accessed externally by the webserver.

[2016-12-29 19:41] stjeebee commented on #75
I got it working properly. But, now the players,vehicles,houses tabs aren't working. It shows on the dashboard that there's players and vehicles, but when I open the specific tabs it shows that it cannot find anything. I saw someone with the same issue and there was a supposed fix but the fix was actually in my version, and it didn't work. I use AltisLife 3.4.8. Gangs show up fine. Sorry for all t

[2017-01-07 19:39] deanm1990 opened #77 "Error is not allowed to connect to this MariaDB server"
Hi Guys

Read the other issues on this, but the responses are vague.

If i remember rightly,

When you create a new user for  a remote connection from a web server, the host option needs to be the ip that the database is hosted on ? is that correct ?

I also remember though either the user - or host option had the % symbol in it for somewhere.

Can someone explain step by step on what exactly need

[2017-01-07 19:43] MightySCollins commented on #77
How is your MySQL server currently setup? Though something like XAMPP, cPanel or on a Linux server. You are right about the `%` sign. If you add that the user can connect to the database from any IP although I would recommend using your web server's ip.

Depending on your setup you also might need to bind it to `0.0.0.0`. If you can give me as much detail as possible I might be able to do you a gu

[2017-01-07 19:46] deanm1990 commented on #77
Xampp

http://imgur.com/a/zNo5h

So is it just one % symbol in the user slot or do i need %any% or something like that

[2017-01-07 20:01] Jason2605 commented on #77
If you wish the user to have access from anywhere its just the % on its own, other wise you can specify an ip, or an ip range

[2017-01-07 20:05] Jason2605 commented on #76
Are you getting any errors throughout the logs? Have you also tried turning the error reporting on (mentioned by Sam before) and seeing what is produced, that would help narrow down the issue.

[2017-01-07 20:05] deanm1990 commented on #77
OK , i put just the % in the host section,  still get this though Connect failed: Access denied for user 'AdminPanel'@'ns1.uk3.siteground.eu' (using password: YES)

[2017-01-07 20:06] Jason2605 commented on #77
And can you connect to the DB externally, say from your computer not where the database is hosted itself, that can be a good identifier to make sure of the permissions.

[2017-01-07 20:21] MightySCollins commented on #77
Yep because it seems you have already externally bound it if it can access it

[2017-01-07 20:26] deanm1990 commented on #77
ok working :) , but no information on players or vehicles

[2017-01-07 20:32] Jason2605 commented on #77
By no information do you mean the tables aren't populated? Also what version of AL are you running?

[2017-01-07 21:01] #70 closed, assigned to nobody

[2017-01-07 21:05] deanm1990 commented on #77
its arma 3 life - i've used this panel with it before with no issues.

But yes the players are not populated. but the main dashboard shows total number of vehicles and players

[2017-01-07 21:07] Jason2605 commented on #77
Okay, well I'm guessing that was based off of the Altis Life framework still, so instead. In your database in the players table, is it playerid or pid?

[2017-01-07 21:07] deanm1990 commented on #77
But yes the players are not populated. but the main dashboard shows total number of vehicles and players

[2017-01-07 21:08] deanm1990 commented on #77
http://imgur.com/a/wPU7u

[2017-01-07 21:20] MightySCollins commented on #77
Can you uncomment line 3 from index.php and show us any errors.

[2017-01-07 21:21] Jason2605 commented on #77
Its due to the settings being set to pid, give me 15 mins, and ill push something. That should be able to fix it

[2017-01-07 21:23] MightySCollins commented on #77
Ahh yep I forgot I set that to default. A nice settings option in `firstTime.php` might help.

[2017-01-07 21:24] Jason2605 commented on #77
Yup, and in the options tab.

[2017-01-07 21:54] deanm1990 commented on #77
ok :) like it, can you let me know when to download new update

[2017-01-07 21:56] deanm1990 commented on #77
Im very impressed with the reply responses- will certainly make a donation

[2017-01-07 21:59] MightySCollins commented on #77
Thanks :smile: https://paypal.me/CyberbyteStudios ill make sure @Jason2605 gets some too

[2017-01-07 22:07] Jason2605 commented on #77
Ill try and get this done quite soon, sorry something came up.

[2017-01-07 22:07] Jason2605 commented on #77
Give me, 20/30 mins

[2017-01-07 22:14] Jason2605 commented on #77
@deanm1990 Ive pushed the changes, it should now allow the selection between pid(AL 5.0) and playerid (all other vers). Please let me know if you experience any problems with the recent change, and ill try my best to amend them.

[2017-01-08 01:29] Jason2605 commented on #76
Please see latest push, and switch your version to 3.x.x.x, please reopen if you are still having issues.

[2017-01-08 01:29] #76 closed, assigned to nobody

[2017-01-08 01:30] Jason2605 commented on #75
See the latest push and select your version of AL, please reopen if you are still having issues.

[2017-01-08 01:30] #75 closed, assigned to nobody

[2017-01-08 01:30] Jason2605 commented on #66
Stale

[2017-01-08 01:30] #66 closed, assigned to nobody

[2017-01-08 01:35] Jason2605 commented on #72
I have a moderator account which can edit money, i can't replicate your issue. Are you still experiencing it?

[2017-01-14 12:50] deanm1990 commented on #77
Hey, been ill so just had chance to see the new update. All works now, can see all data etc. The only thing is,  when i make changes on the panel, it doesn't update on the DB, except for licenses, that works ok.

[2017-01-17 19:13] JustAB0x opened #78 "Nginx"
Hey,
could you provide a nginx rewrite conf?

[2017-02-01 01:03] ItsSpirit opened #79 "License Issues"
Using Cyberworks 0.5.0 everything works well except licenses when adding licenses it doesn't update the database and after refreshing the page the green highlight goes back to grey

After turning on the error messages by removing the // in front of error_reporting(E_ALL); // Turn on for error messages it doesn't seem to give any errors the only errors that pop up are;

Notice: Undefined index: pla

[2017-02-01 02:00] #79 closed, assigned to nobody

[2017-02-01 11:20] MightySCollins commented on #79
Did you manage to fix this?

[2017-02-01 16:45] Jason2605 commented on #79
Was this an issue unique to you or an issue with the panel, and like Sam says did you manage to solve it yourself?

[2017-02-01 19:23] NiiRoZz opened #80 "Can't change level + money"
Hello,

I have 5.0 version of altis life,

when i want to change any level or cash, send me a message " Edited xxxxxxx "
But when i refresh the page it doesn't work, i have saw a difference,
[Image](https://gyazo.com/b6fa7f43f7a4b1deebc374a6b014fe1f)
This menu are ok, all my ranks are good but when i click on edit :
[Image](https://gyazo.com/d3d3e99e38e8714c0847be888f5b7252)
My medic rank are not

[2017-02-01 19:24] MightySCollins commented on #80
What version of AltisLife are you using?

[2017-02-01 19:30] NiiRoZz commented on #80
Version 5.0.0

[2017-02-03 23:00] Jason2605 commented on #80
I have a 5.0 server running CyberWorks running with the latest version (not the from the releases tab) and it edits fine, please can you provide some more information?

[2017-02-04 09:24] NiiRoZz commented on #80
@Jason2605 Ok, i will test to reinstall another time, and if don't work i will give you more information

[2017-02-04 09:38] BoGuu commented on #80
@NiiRoZz

What version of AL are you set to in the settings page?

[2017-02-04 09:48] NiiRoZz commented on #80
@BoGuu 5.0 version, if i change this version i can't see any players.

[2017-02-04 09:57] NiiRoZz commented on #80
I have found a problem i think, i had fresh install, it's work, but when i modify any option, like max player cop level to 12, i submit my changes and i can't edit any player after that .

Another trouble, when i had install the server i have choose 5.0 but when i go to option i have preselected 4.4r2.

@Jason2605 @MightySCollins

[2017-02-04 10:18] BoGuu commented on #80
@NiiRoZz

Can you try with 90e1728?

[2017-02-05 14:46] NiiRoZz commented on #80
With all your last change @BoGuu and @Jason2605 All works, thanks for your reply and your fixes.

Cordially NiiRoZz

[2017-02-05 14:46] #80 closed, assigned to nobody

[2017-02-13 22:34] CaMoTraX opened #81 "Login Impossible"
Hey,

i tried to install the latest version of cyberworks, wich succeed.
But when i try to login, ill get a 404 error.

Headline text: http://blablabla.de/support/index ( without php or html )

[2017-02-13 22:36] MightySCollins commented on #81
Do you have a `.htaccess` file in your web root?

[2017-02-14 17:43] CaMoTraX commented on #81
no

[2017-02-15 05:48] Brutusm1k commented on #81
same shit for me

[2017-02-15 09:20] MightySCollins commented on #81
What are the permissions on the root folder? Does the PHP user have write access?

[2017-02-15 16:59] Brutusm1k commented on #81
all permissions.

[2017-02-15 17:00] MightySCollins commented on #81
If you uncomment line 3 of index.php and redo the first time setup do any errors appear?

[2017-02-16 02:52] Brutusm1k commented on #81
Nop, i got nothing....

[2017-02-17 07:22] John-H-Smith commented on #81
Same for me.

[2017-02-17 08:29] MightySCollins commented on #81
Hmm ok looks like quite a few of you are having a problem I will look into it now

[2017-02-17 08:29] John-H-Smith commented on #81
Thank you very much!

[2017-02-17 08:30] MightySCollins commented on #81
What server version are you selecting `5.0.0`?

[2017-02-17 08:30] John-H-Smith commented on #81
Yes

[2017-02-17 08:34] MightySCollins commented on #81
@masterstreamer Do you mind making some changes? If you can send me an email at sam@cyberbyte.org.uk

[2017-02-17 09:10] MightySCollins commented on #81
Is anyone else here using IIS/Plesk?

[2017-02-19 18:15] CaMoTraX commented on #81
nope

[2017-02-20 11:27] MightySCollins commented on #81
If you are still having the problem send me an email. I will need some more information.

[2017-02-28 04:46] BlutwurstPro commented on #81
Same Problem...
I use a subdomain called control to acces the Panel and apache gives me an 404 Error.
I'm sure that it is a mod_rewrite error but i'm a really big noob in mod_rewrite :/

[2017-03-03 21:39] CaMoTraX commented on #81
It directs you to index without .php or .html

[2017-04-12 21:09] aadriii87 commented on #81
create .htaccess file (var/www/html/CyberWorks/)
Put in

[code]

now u can use http://blablabla.de/support/index without .php at the end ;)

[2017-04-18 10:15] ghost commented on #81
**@aadriii87** with your tool it also doesn´t work. Maybe someone can help me out??
Thanks

[2017-04-18 10:53] MightySCollins commented on #81
@LorenzVonBaum do you still get the 404?
Almost all of the issues are to do with the redirect setup on the server this has been installed.

[2017-04-21 19:03] ghost commented on #81
Hello @MightySCollins ,
my problem is that when i make the setup file and i want to login nothing happens.
Thanks

[2017-04-21 19:24] ghost commented on #81
Okay i get it.

[2017-05-01 12:08] YourServerPromo opened #83 "Editing the database works only half"
We are running this framework of Altis Life Version 5.0.0
https://github.com/AsYetUntitled/Framework

We have installed the Panel but we cant edit things like money bankaccount or the coplevel, but we can edit gangmoney. Editing the money only worked once but then it stopped working after trying the second time..

Please help

[2017-05-02 20:51] Budji commented on #73
We're having the same issue on our server.
Just getting the "No vehicles" when clicking the more button, any fixes for that @MightySCollins ?

[2017-05-03 08:43] Budji opened #84 "More function under vehicles for players returns "No Vehicles"."
Hey,

We're having an issue with the more function. When searching a member out under "players" and going into the vehicles tab, the "More function" returns:
No vehicles.

Are there any fixes for this? It's getting quite annoying when you have 5000 cars and you're trying to find one person car.

Regards,
Mathias

[2017-05-08 13:20] MightySCollins commented on #84
Can you search with the vehicle page? The link might just be broken

[2017-05-08 13:21] MightySCollins commented on #83
Whats the player id coloum name? pid? If so can you uncomment line 3 in index.php and tell me if there are any errors?

[2017-05-08 17:45] Budji commented on #84
When searching through the vehicles page, it still gets "No vehicles".

[2017-05-10 16:46] MightySCollins commented on #84
Ok I will see what I can do... I have not looked at this in a while. Can you send me an email to sam@cyberbyte.org.uk it really help if you could provide me a sample of your database so I can run it with valid data.

[2017-05-10 16:58] Budji commented on #84
I'll see what I can do, need a chat with our project lead before I can get a copy of the database - I'll pass you an email either way, just to let you know when I have an answer :-)

[2017-05-10 17:19] MightySCollins commented on #84
Yep it does not actually need to be any data. Just one row or so which could be made up.
I just need to see the current structure. If you have custom tables then you can keep that as well.

[2017-05-11 08:07] MightySCollins commented on #83
Have you had a change to look into this slightly more @YourServerPromo or should I?

[2017-05-11 22:00] Budji commented on #84
I've send you an email now 👍

[2017-05-17 21:29] aadriii87 commented on #84
same issue here

[2017-05-21 14:40] MightySCollins commented on #84
@aadriii87 if you can drop me an email I might have a fix for you.

[2017-05-27 19:55] MelonCraftDE opened #85 "no playerEdit possible for 5.0 life version"
hi!

got a problem to save the edited player money or ranks... no player edits are possible

can someone help?

that error appears, but it says "edited" too... but nothing is edited in database...

Notice: Undefined property: stdClass::$donatorlvl in C:\Server\xampp\htdocs\supporter\views\life\editPlayer.php on line 55

Notice: Undefined property: stdClass::$donatorlvl in C:\Server\xampp\htdocs\su

[2017-05-27 19:56] MelonCraftDE commented on #83
i have the same issue... and i got this error:

Notice: Undefined property: stdClass::$donatorlvl in C:\Server\xampp\htdocs\supporter\views\life\editPlayer.php on line 55

Notice: Undefined property: stdClass::$donatorlvl in C:\Server\xampp\htdocs\supporter\views\life\editPlayer.php on line 56

[2017-05-27 20:01] MelonCraftDE commented on #85
but after i edited the lines from
                        if ($donorlevel != $player->$settings['donorFormat']) {
to

                        if ($donorlevel != $player->donorlevel) {
the error is gone away - but still no saves to database from editPlayers (cash/bank/ranks) - posting notes/gang-bank works

[2017-05-30 02:51] maher1337 opened #86 "Can't Edit Players Cash/CopLvl/MedicLvl"
Hello,
It seems that I can not edit any of the above mentioned settings for a specific player could you tell me what's wrong?

[2017-05-30 11:50] cammygames commented on #86
What Altislife Version are you using, also could you provide the structure of your database

[2017-05-31 16:55] MightySCollins commented on #86
I will be on our discord server tonight to try and fix a few problems join https://discord.gg/wfFSFhX and message me if you want to help.

[2017-05-31 16:55] MightySCollins commented on #85
I will be on our discord server tonight to try and fix a few problems join https://discord.gg/wfFSFhX and message me if you want to help.

[2017-05-31 16:55] MightySCollins commented on #84
I will be on our discord server tonight to try and fix a few problems join https://discord.gg/wfFSFhX and message me if you want to help.

[2017-05-31 18:12] maher1337 commented on #86
I fixed it by removing donator edit on the sql query, but however if someone does't have permission to edit cash & bank while can edit other things, when he edits the Medic Level or Cop Level it would set the user's cash/bank to 0

[2017-07-09 06:54] gigsta12 commented on #84
I also am dealing with the same issue

[2017-07-22 12:23] MightySCollins opened #87 "AL5 changed where containers are stored"
Containers are now stored in there own table with the below schema

[code]
And a sample row
[code]

[2017-08-14 15:45] aadriii87 commented on #84
Was a fix created? Still issues.

[2017-08-14 17:25] BlutwurstPro opened #88 "Register Button"
Hi,
when i had enabled Registration in my Setting but there is no registration Button at the Login Screen :/

[2017-08-19 15:19] Leon0983X opened #89 "Medic Level 5+(AL Version 5.0)"
Solved

[2017-08-19 15:31] #89 closed, assigned to nobody

[2017-08-27 09:26] Provokan commented on #88
Press Strg F5

[2017-09-04 14:34] BlutwurstPro commented on #88
still no Register Button

[2017-09-04 14:45] MightySCollins commented on #88
Whats in your settings.php file?

[2017-09-04 15:36] BlutwurstPro commented on #88
`  'maxLevels' =>
  array (
    'cop' => '7',
    'medic' => '5',
    'admin' => '5',
    'donator' => '5',
  ),
  'items' => '15',
  'notifications' => true,
  'news' => true,
  'sql_phone' => false,
  'language' => 'de',
  'allowLang' => false,
  'lifeVersion' => 5,
  'lifeVersionDisplay' => '5.0',
  'donorFormat' => 'donatorlvl',
  'wanted' => false,
  'version' => '0.5',
  'staffRanks' => 5,

[2017-09-12 22:26] exile917 opened #90 "Installation process"
Hello I'm fairly new to all this can someone give a more in depth process on how to install and set up for an Altis life 5.0

[2017-10-20 17:15] larsvu opened #91 "Only works on localhost?"
If i try to acces it from the outside it shows only text.
If i check the source files i see every link is referring to localhost?

Lars

[2017-10-22 20:58] MightySCollins commented on #91
You probally set the settings wrong when doing the settings page but we reccomend you use our new version https://github.com/Cyberbyte-Studios/CyberWorks-3

[2017-10-22 22:42] larsvu commented on #91
Does the new version work on altis life 4.4?

[2017-11-09 02:33] ItsMotra opened #92 "Noob Issue"
https://gyazo.com/ba6203953ba1d46bd7feac212d0951ec

Can someone help me with this issue please?

[2017-11-27 03:43] AlexisHartford opened #93 "Altis Life Settings Max Cop Level"
When ever i change the Max Cop lvl to match my server it show no players or i cant change any data on player any more.

[2017-12-29 03:04] x33Pingu opened #94 "404 Login to index Issue"
## After I run the setup and I try to log in but he keeps me on the index page but he does not find it. I think my .htaccees works fine but idk where my problem is.

[.htaccess]
RewriteEngine On
RewriteBase /support/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /support/index.php [L]

[2018-02-06 18:12] BeFreezy opened #95 "Getting some Errors on my Webspace."
Hey ya'll, just ran into some issues.

I can open most of the url's just fine except a few of them, here are some errors I catched.

`[06-Feb-2018 19:05:00 Europe/Berlin] PHP Fatal error: Uncaught Error: Call to a member function query() on null in /home/webpages/lima-city/befreezy2/CyberWorks-0.5.3/views/templates/scripts.php:126
Stack trace:
#0 /home/webpages/lima-city/befreezy2/CyberWorks-0.5.3

[2018-02-09 10:45] MightySCollins commented on #95
We recommend you use our new version which can be found at https://github.com/Cyberbyte-Studios/CyberWorks-3

[2018-02-10 23:45] BeFreezy commented on #95
oh, didn't even know you had a newer version, thanks!

#close

[2018-02-11 11:54] #95 closed, assigned to nobody

[2018-02-11 11:55] #69 closed, assigned to nobody

[2018-02-11 11:55] #72 closed, assigned to nobody

[2018-02-11 11:55] #73 closed, assigned to nobody